<html layout:decorate="~{layout}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/every_filter.css}">
</head>
<div layout:fragment="content">
	<div class="filtertop">
		<div class="filtertop_div">
			<h1>필터</h1>
			<a style="margin-top: 2px;" href="filter_issue"><span>필터 만들기</span></a>
		</div>
		<div class="everyfilter_category">
			<div class="select_top_1" contenteditable="true">
				<input type="text" style="border: none; width: 158px;">
				<svg width="16" height="16" viewBox="0 0 24 24"
					role="presentation">
					<path fill="#5E6C84" fill-rule="evenodd"
						d="m16.436 15.085 3.94 4.01a1 1 0 0 1-1.425 1.402l-3.938-4.006a7.5 7.5 0 1 1 1.423-1.406M10.5 16a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11">
					</path>
				</svg>
			</div>
			<div class="select_top">
				<input class="menu_list" placeholder="소유자" style="border: none; padding-left: 8px; font-size: 14px; width: 168px">
					<div class="select_top_menu" >
						<div class="select_top_menue_list" style="background-color: #F4F5F7; width: 200px;">
						<div style="height: 16px; margin-right: 10px;"><img src="https://secure.gravatar.com/avatar/01b7a4ea5f56a651a5e667c6b8b9d579?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Fdefault-avatar-0.png"
						alt="" aria-hidden="true" data-vc="avatar-image" data-ssr-placeholder-ignored="true"
						class="css-1gr7gcv" style="border-radius: 50%; width: 16px; height: 16px; ">
						</div>
						방준혁
						</div>
					</div>
				<div style="border: none; background-color: transparent; height: 24px;"><svg width="24" height="24"
						viewBox="0 0 24 24" role="presentation">
						<path fill="#42526E" fill-rule="evenodd"
							d="M8.292 10.293a1.01 1.01 0 0 0 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 0 0 0-1.419.987.987 0 0 0-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 0 0-1.406 0">
						</path>
					</svg></div>
			</div>
			<div class="select_top">
				<input class="menu_list" placeholder="프로젝트" style="border: none; padding-left: 8px; font-size: 14px; width: 168px">
					<div class="select_top_menu" >
						<div class="select_top_menue_list" style="background-color: #F4F5F7; width: 200px;">
						<div style="height: 16px; margin-right: 10px;"><img src="https://secure.gravatar.com/avatar/01b7a4ea5f56a651a5e667c6b8b9d579?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Fdefault-avatar-0.png"
								alt="" aria-hidden="true" data-vc="avatar-image" data-ssr-placeholder-ignored="true"
										class="css-1gr7gcv" style="border-radius: 50%; width: 16px; height: 16px; ">
							</div>
						방준혁
					</div>
				</div>
				<div style="border: none; background-color: transparent; height: 24px;"><svg width="24" height="24"
						viewBox="0 0 24 24" role="presentation">
						<path fill="#42526E" fill-rule="evenodd"
							d="M8.292 10.293a1.01 1.01 0 0 0 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 0 0 0-1.419.987.987 0 0 0-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 0 0-1.406 0">
						</path>
					</svg></div>
			</div>
			<div class="select_top">
				<input class="menu_list" placeholder="그룹" style="border: none; padding-left: 8px; font-size: 14px; width: 168px">
					<div class="select_top_menu" >
						<div class="select_top_menue_list" style="background-color: #F4F5F7; width: 200px;">
							<div style="height: 16px; margin-right: 10px;"><img src="https://secure.gravatar.com/avatar/01b7a4ea5f56a651a5e667c6b8b9d579?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Fdefault-avatar-0.png"
								alt="" aria-hidden="true" data-vc="avatar-image" data-ssr-placeholder-ignored="true"
									class="css-1gr7gcv" style="border-radius: 50%; width: 16px; height: 16px; ">
							</div>
						방준혁
					</div>
				</div>
				<div style="border: none; background-color: transparent; height: 24px;"><svg width="24" height="24"
						viewBox="0 0 24 24" role="presentation">
						<path fill="#42526E" fill-rule="evenodd"
							d="M8.292 10.293a1.01 1.01 0 0 0 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 0 0 0-1.419.987.987 0 0 0-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 0 0-1.406 0">
						</path>
					</svg></div>
			</div>
		</div>
		<table class="table_th">
			<colgroup>
				<col width="3.1%" />
				<col width="22%" />
				<col width="20%" />
				<col width="20%" />
				<col width="20%" />
				<col width="10%" />
				<col width="3.4%" />
			</colgroup>
			<tr class="first_tr">
				<th style="height: 24px; align-items: center;">
					<svg width="14" height="14" viewBox="0 0 24 24" role="presentation" style="color: #5E6C84">
						<path fill="currentcolor" fill-rule="evenodd"
							d="m12.072 17.284-3.905 2.053a1 1 0 0 1-1.451-1.054l.745-4.349-3.159-3.08a1 1 0 0 1 .554-1.705l4.366-.635 1.953-3.956a1 1 0 0 1 1.794 0l1.952 3.956 4.366.635a1 1 0 0 1 .555 1.705l-3.16 3.08.746 4.349a1 1 0 0 1-1.45 1.054z">
						</path>
					</svg>
					<div class="triangle">
						<!--<button></button>
						<button></button>-->
					</div>
				</th>
				<th style="height: 26px;">이름</th>
				<th>소유자</th>
				<th>조회자</th>
				<th>편집기</th>
				<th>별표 표시</th>
			</tr>
			<tr class="second_tr">
				<td>
					<svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
						<path fill="#5E6C84"
							d="m12 16.373 3.98 2.193-.76-4.655 3.276-3.347-4.524-.69L12 5.687l-1.972 4.189-4.524.689L8.78 13.91l-.762 4.655zm0 2.283-3.016 1.662a2 2 0 0 1-2.939-2.075l.599-3.656-2.57-2.624a2 2 0 0 1 1.129-3.377l3.47-.528 1.518-3.224a2 2 0 0 1 3.618 0l1.519 3.224 3.47.528a2 2 0 0 1 1.127 3.377l-2.569 2.624.599 3.656a2 2 0 0 1-2.94 2.075z">
						</path>
					</svg>
				</td>
				<td>
					<div style="padding: 12px 0px;">
						<a>상태 필터 조건 더미</a>
					</div>
				</td>
				<td>
					<div style="padding: 8px 0px; display: flex;">
						<div style="height: 36; width: 28px; margin: 2px 6px 0px 2px;">
							<img src="https://secure.gravatar.com/avatar/01b7a4ea5f56a651a5e667c6b8b9d579?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Fdefault-avatar-0.png"
								alt="" aria-hidden="true" data-vc="avatar-image" data-ssr-placeholder-ignored="true"
								class="css-1gr7gcv" style="border-radius: 50%; width: 24px; height: 24px; ">
						</div>
						<div style="margin-top: 4px;">방준혁</div>
					</div>
				</td>
				<td>
					<div style="padding: 6px 0px 0px 0px; display: flex;">
						<div style="height: 36; width: 28px; margin: 2px 8px 0px 2px;"><svg width="24" height="24"
								viewBox="0 0 24 24" role="presentation">
								<g fill="currentcolor">
									<path
										d="M16 11V9h-2V7.002A2 2 0 0 0 12 5c-1.102 0-2 .898-2 2.002V9H8v2H7v8h10v-8zm-2 0h-4V9h4zM8 9V7.002A4.004 4.004 0 0 1 12 3a4 4 0 0 1 4 4.002V9h.994A2.01 2.01 0 0 1 19 11.009v7.982c0 1.11-.897 2.009-2.006 2.009H7.006A2.01 2.01 0 0 1 5 18.991V11.01C5 9.899 5.897 9 7.006 9zm0 0h2v2H8zm6 0h2v2h-2z">
									</path>
									<circle cx="12" cy="15" r="2"></circle>
								</g>
							</svg>
						</div>
						<div style="margin-top: 4px;">비공개</div>
					</div>
				</td>
				<td>
					<div style="padding: 6px 0px 0px 0px; display: flex;">
						<div style=" margin: 2px 12px 0px 2px;"><svg width="24" height="24" viewBox="0 0 24 24"
								role="presentation">
								<g fill="currentcolor">
									<path
										d="M16 11V9h-2V7.002A2 2 0 0 0 12 5c-1.102 0-2 .898-2 2.002V9H8v2H7v8h10v-8zm-2 0h-4V9h4zM8 9V7.002A4.004 4.004 0 0 1 12 3a4 4 0 0 1 4 4.002V9h.994A2.01 2.01 0 0 1 19 11.009v7.982c0 1.11-.897 2.009-2.006 2.009H7.006A2.01 2.01 0 0 1 5 18.991V11.01C5 9.899 5.897 9 7.006 9zm0 0h2v2H8zm6 0h2v2h-2z">
									</path>
									<circle cx="12" cy="15" r="2"></circle>
								</g>
							</svg>
						</div>
						<div style="margin-top: 4px;">비공개</div>
					</div>
				</td>
				<td>
					<div style="font-size: 14px; padding: 12px 0px;">1명</div>
				</td>
				<td>
					<div style="padding: 8px 0px 0px 4px;">
						<svg style="margin-left:16px" width="24" height="24" viewBox="0 0 24 24" role="presentation">
							<g fill="currentcolor" fill-rule="evenodd">
								<circle cx="5" cy="12" r="2"></circle>
								<circle cx="12" cy="12" r="2"></circle>
								<circle cx="19" cy="12" r="2"></circle>
							</g>
						</svg>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<script th:src="@{/js/every_filter.js}"></script>
</div>

</html>