<aside th:fragment="filterasideFragment">
	<div>
		<div class="aside_title_box">
			<div>필터</div>
		</div>
		<div class="aside_box box1">
			<div class="aside_title">
				<div class="div_a"></div>
				<span>새 검색</span>
			</div>
			<div class="hr_div"></div>
			<div class="basic_filter_box">
				<div class="aside_content">
					<div class="content_title1" style="font-weight: bold;">기본값 필터</div>
					<a><span>나의 미해결 이슈</span></a>
					<a><span>내가 보고함</span></a>
					<a><span>모든 이슈</span></a>
					<a><span>미결 이슈</span></a>
					<a><span>완료된 이슈</span></a>
					<a><span>최근에 만듦</span></a>
					<a><span>최근에 해결됨</span></a>
					<a><span>최근 업데이트</span></a>
				</div>
			</div>
		</div>
		<div style="height: 6px;"></div>
		<div class="aside_content">
			<div class="content_title1" style="font-weight: bold;">별표 표시된 필터</div>
			<a><span>실험 2</span></a><br>

		</div>
		<div class="hr_div1"></div>
		<div class="aside_content"><a><span>모든 필터 보기</span></a></div>	
	</div>
	<div class="aside_content">
	</div>
</aside>

